.stats{
    margin-top: 150px;
}

@media screen and (min-width: 780px) {
.numbers{
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}
.team-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-heading{
    display: flex !important;
    justify-content: space-between;
}
.image{
    width: 50% !important;
}
}

@media screen and (min-width: 1180px) {
    .team-wrap{
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    }
}