@import '../../assets/css/Main.scss';

.button{
    background-color:$red;
    &:hover{
        background-color:$accent;
    }
}

.button-s{
    border-color:$red;
    &:hover{
        border-color:$accent ;
    }
}



@media screen and (min-width: 780px) {
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
}
}

@media screen and (min-width: 1180px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}